<input class="faq-acc__checkbox faqbox" type="checkbox" name="faqbox" id="faqbox-1">
<label for="faqbox-1" class="faq-acc__btn">
  <h4>Why bamboo?</h4>
</label>
<div class="panel"> 
  <p>Bamboo products are not only soft like a baby panda's bottom and absorbent for optimal 
    butt patting, but(t) it is also a sustainable resource. Bamboo absorbs 35% more CO₂ per 
    hectare than equivalent plants and can grow up to 39 inches in just one day. That means 
    that bamboo is ultrareplenishable in addition to helping reduce deforestation 
    (15% of deforestation is due to toilet paper production).</p>
</div>

<input class="faq-acc__checkbox faqbox" type="checkbox" name="faqbox" id="faqbox-2">
<label for="faqbox-2" class="faq-acc__btn">
  <h4>How much water is used to produce the toilet paper?</h4>
</label>
<div class="panel"> 
  <p>One roll of our Bamboo TP takes 0.59 gallons of water. One roll of conventional TP 
    takes 37 gallons of water! #math</p>
</div>

<input class="faq-acc__checkbox faqbox" type="checkbox" name="faqbox" id="faqbox-3">
<label for="faqbox-3" class="faq-acc__btn">
  <h4>Is the bamboo toilet paper made with Rayon?</h4>
</label>
<div class="panel"> 
  <p>Ray who? There’s no Rayon in our TP. The raw material is 100% bamboo.</p>
</div>

<input class="faq-acc__checkbox faqbox" type="checkbox" name="faqbox" id="faqbox-4">
<label for="faqbox-4" class="faq-acc__btn"> 
  <h4>What kind of process is used for turning bamboo into toilet paper? Do you use chlorine/chlorine dioxide? Any emulsifying agents?</h4>
</label>
<div class="panel"> 
  <p>We practice biological pulping, meaning, we don't use chlorine or chlorine dioxide at all during the process. No bleach, no emulsifying agents. All natural.</p>
</div>

<input class="faq-acc__checkbox faqbox" type="checkbox" name="faqbox" id="faqbox-5">
<label for="faqbox-5" class="faq-acc__btn"> 
  <h4>Is bamboo toilet paper environmentally friendly?</h4>
</label>
<div class="panel">
  <p>Yes! Not only are trees spared from being used to wipe our cracks but it takes 30% less water to make bamboo toilet paper than regular toilet paper!</p>
</div>

<input class="faq-acc__checkbox faqbox" type="checkbox" name="faqbox" id="faqbox-6">
<label for="faqbox-6" class="faq-acc__btn"> 
  <h4>Is bamboo toilet paper more sustainable?</h4>
</label>
<div class="panel"> 
  <p>You know it! The bamboo we use grows 39 inches in a single day making it a much more sustainable resource than virgin wood.</p>
</div>