<input
  class="faq-acc__checkbox faqbox"
  type="checkbox"
  name="faqbox"
  id="faqbox-1"
/>
<label for="faqbox-1" class="faq-acc__btn">
  <h4 class="h4-strong h4-small">Why hijoey?</h4>
</label>
<div class="panel">
  <p>
    Not knowing how to help a stressed out pet is absolutely heart-breaking.
    Honestly, who has enough time to decipher what your pet is trying to
    communicate or keep up with all the latest dog training trends? Plus,
    forking over hundreds of dollars for trainer tricks that only work when they
    see hot dogs in your hand is so last year. Meet hijoey. We exist with one
    goal in mind: to help inspire confidence and curiosity for you and your best
    friend. Our focus is on building effective community-backed experiments and
    with our 100 day money-back guarantee, now you can write your own story.
  </p>
</div>

<input
  class="faq-acc__checkbox faqbox"
  type="checkbox"
  name="faqbox"
  id="faqbox-2"
/>
<label for="faqbox-2" class="faq-acc__btn">
  <h4 class="h4-strong h4-small">
    How will I teach my pup to touch the button?
  </h4>
</label>
<div class="panel">
  <p>
    There are many successful ways that people have taught their dogs to use the
    buttons. The most common way to teach your pup is through a combination of
    Modeling and Targeting techniques. But just like people, all doggos have
    different learning styles and strengths. Make sure to checkout our Training
    section to learn more.
  </p>
</div>

<input
  class="faq-acc__checkbox faqbox"
  type="checkbox"
  name="faqbox"
  id="faqbox-3"
/>
<label for="faqbox-3" class="faq-acc__btn">
  <h4 class="h4-strong h4-small">Where should I place the buttons?</h4>
</label>
<div class="panel">
  <p>
    Not ! Each hijoey buttons are powered by 2 TUSHY doesn’t use any
    electricity, so it’s even more environmentally friendly and accessible for
    everyone.
  </p>
</div>

<input
  class="faq-acc__checkbox faqbox"
  type="checkbox"
  name="faqbox"
  id="faqbox-4"
/>
<label for="faqbox-4" class="faq-acc__btn">
  <h4 class="h4-strong h4-small">
    What kind of process is used for turning bamboo into toilet paper? Do you
    use chlorine/chlorine dioxide? Any emulsifying agents?
  </h4>
</label>
<div class="panel">
  <p>
    We practice biological pulping, meaning, we don't use chlorine or chlorine
    dioxide at all during the process. No bleach, no emulsifying agents. All
    natural.
  </p>
</div>

<input
  class="faq-acc__checkbox faqbox"
  type="checkbox"
  name="faqbox"
  id="faqbox-5"
/>
<label for="faqbox-5" class="faq-acc__btn">
  <h4 class="h4-strong h4-small">
    Are hijoey products recyc environmentally friendly?
  </h4>
</label>
<div class="panel">
  <p>
    Yes! Not only are trees spared from being used to wipe our cracks but it
    takes 30% less water to make bamboo toilet paper than regular toilet paper!
  </p>
</div>

<input
  class="faq-acc__checkbox faqbox"
  type="checkbox"
  name="faqbox"
  id="faqbox-6"
/>
<label for="faqbox-6" class="faq-acc__btn">
  <h4 class="h4-strong h4-small">
    Are there any benefits of using a voice-recordable button vs. a jingle
    doorbell?
  </h4>
</label>
<div class="panel">
  <p>
    hijoey's Talking Dog buttons provide the benefit of adding your own
    personalized voice to the command, which should be easier for your pup to
    associate with for training. Interested in learning more? Checkout our
    Training worksheets.
  </p>
</div>
