<!-- <h3>How to use {{product.title}}</h3>-->
<h3 class="h3-strong">How to hijoey</h3>
<div class="how-to__container">
  <div class="how-to__item">
    {{
      "hijoey-model-your-actions.png" | asset_url | img_tag: "Model Your Words"
    }}
    <div class="how-to__text">
      <span class="h4-strong">1</span>
      <div class="how-to__text--inner">
        <h5 class="h4-strong">Model Your Words</h5>
        <p class="p-large">Doggo see, doggo do. It's all about exposure.</p>
      </div>
    </div>
  </div>

  <div class="how-to__item">
    {{
      "hijoey-target-your-buttons.png"
        | asset_url
        | img_tag: "Target Your Button"
    }}
    <div class="how-to__text">
      <span class="h4-strong">2</span>
      <div class="how-to__text--inner">
        <h5 class="h4-strong">Target Your Button</h5>
        <p class="p-large">
          Boop with a nose or hit it with a paw. Be patient.
        </p>
      </div>
    </div>
  </div>

  <div class="how-to__item">
    {{
      "hijoey-listen-to-your-fren.png"
        | asset_url
        | img_tag: "Listen To Your Fren"
    }}
    <div class="how-to__text">
      <span class="h4-strong">3</span>
      <div class="how-to__text--inner">
        <h5 class="h4-strong">Listen To Your Fren</h5>
        <p class="p-large">Communication is the key. No more whining.</p>
      </div>
    </div>
  </div>
</div>
