/****
PRODUCT PAGE
****/
.product-single__media-group-wrapper .slick__arrow--previous {
    left: 0;
}
.product-single__media-group-wrapper .slick__arrow--next {
    left: 30px;
}

/****
TRAINING PAGE
****/
.training_main section .wrapper,
#training .main-content .wrapper {
    max-width:100% !important;
}

.training_main h1 {
    margin-top: 0;
    text-align: left;
}
.training_main h4 {
    color:#727272 !important;
}
.training_main .first {
    clear: both;
    margin-left: 0;
}
.training_main .one-third {
    float: left;
    margin-left: 2.564102564102564%;
   width: 31.623931623931625%;
  overflow:hidden;
  position:relative;

}
.training_main .container,
.training_main figure {

}

.training_main .one-third.first p {

}
.training_main figure img {
    display: block;
       -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
transform: scale(1);
      margin: 0 !important;

 
}
.training_main figure img,
.training_main figure {
    width:100%;
  height:100%;
  object-fit:cover;
  margin: auto;
    border-radius:50%;
}

.training_main .rte h1::after, 
.training_main .rte .h1::after, 
.training_main .rte h2::after,
.training_main .rte .h2::after {
display:none;
}
.training_main figure {
overflow:hidden;
  margin-bottom:10px;
}
.training_main figure:hover img {
    transform: scale(1.1);
}
.training_main .text_content label {
    float: right;
    font-style: normal;
    background: #fff;
    padding-left: 10px;
  position:relative;
  text-align:right;
}
.training_main .caption {
  position:relative;
  float:left;
  width:100%;
}
.training_main .caption:before {
content: "";
    background: #727272;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 20px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

.training_main .caption_bottom p {
text-align: right;
}



@media only screen and (max-width: 767px) {
  .training_main .section_1 .one-third.first {
    margin-bottom:64px;
  }
.training_main .one-third {
width:100%;
  margin-left:0;
}

  .training_main {
    float:left;
    width:100%;
  padding-bottom:80px;
  }
  
  #shopify-section-1593672972719 .fa-chevron-right.slick-arrow,
  #shopify-section-1593672972719 .fa-chevron-left.slick-arrow{
    display:none !important;
  }
  
  
}
/****
free-modeling-worksheet PAGE
****/
#free-modeling-worksheet #contact_form .grid--small .grid__item {
    margin-bottom: 10px;
}
#free-modeling-worksheet #contact_form .fullwidth input, 
#free-modeling-worksheet #contact_form .grid--small input,
#free-modeling-worksheet #contact_form textarea, 
#free-modeling-worksheet #contact_form select {
    width: 100%;
}
#free-modeling-worksheet #contact_form .fullwidth,
#free-modeling-worksheet #contact_form .fullwidth .title,
#free-modeling-worksheet #contact_form .bottom_note,
#free-modeling-worksheet .main-content section{
width:100%;
  float:left;
  margin-bottom:10px;
}
#free-modeling-worksheet #shopify-section-page-training img {
width:100% !important;
  max-width:100% !important;
  margin:0 !important;
}
#free-modeling-worksheet .section_5 h3 {
    text-align:right;
}

#shopify-section-page-training h2 {
    text-align:left;
}
#free-modeling-worksheet .section_5 {
padding: 90px 0 !important;
}
#free-modeling-worksheet .section_5 h3 span:before {
    right: 0;
}
#free-modeling-worksheet .main-content section {
    padding:50px 0;
}
#free-modeling-worksheet .main-content section:first-of-type {
    padding-top:0;
}
#free-modeling-worksheet .main-content section .wrapper{
    max-width: 1050px;
  padding: 0 20px;
}
#free-modeling-worksheet #contact_form .bottom_note {
    margin-top: 20px;
}
#free-modeling-worksheet #contact_form .checkbox input {
    width:auto;
}
#free-modeling-worksheet .one-third,
#free-modeling-worksheet .two-thirds {
    float: left;
    margin-left: 2.564102564102564%;
}
#free-modeling-worksheet .one-third {
    width: 31.623931623931625%;
}

#free-modeling-worksheet .two-thirds {
   width: 65.81196581196582%;
}
#free-modeling-worksheet .main-content .wrapper {
max-width:100%;
  padding: 0;
}
.first {
    clear: both;
    margin-left: 0 !important;
}
#free-modeling-worksheet .section_title {
    text-transform:uppercase;
  position:relative;
}
#free-modeling-worksheet .section_title:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    background: #231F20;
    right: -62px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#free-modeling-worksheet .main-content section h1 {
    margin-bottom:20px;
  text-align:left;
}
#free-modeling-worksheet .section_3 a {
        border: 0;
}
#free-modeling-worksheet .section_3 .section_title:before {
    display:none;
}
.shopify-challenge__container .shopify-challenge__button {
    text-align: center !important;
    margin: auto !important;
    float: none !important;
}

#free-modeling-worksheet .section_5 {
    background: #D1CDCA;
}
#shopify-section-page-free-modeling-worksheet h6 {
    margin-bottom:0;
}
#shopify-section-page-free-modeling-worksheet h4 {
    margin-top:0;
}
#shopify-section-page-free-modeling-worksheet .section_5 h3 {
        text-align: left;
}
#shopify-section-page-free-modeling-worksheet .section_5 .section_title:before {
        right: -120px;
}
#shopify-section-page-free-modeling-worksheet .rte--indented-images img:not([style]), 
#shopify-section-page-free-modeling-worksheet .rte--indented-images img[style="float: none;"],
#shopify-section-page-free-modeling-worksheet img{
    max-width: 100% !important;
    margin-left: 0 !important;
}

#shopify-section-page-free-modeling-worksheet input[type='checkbox'],
#shopify-section-page-free-modeling-worksheet input[type='checkbox']:after {
    box-shadow: none !important;
}
#free-modeling-worksheet #contact_form .checkbox input {
position:relative;
}

#yes-id-like-to-receive-marketing-emails-from-hijoey::before {
    content: "";
    position: absolute;
    width: 16px;
    top: -1px;
    left: -1px;
    height: 16px;
    background: #f7f7f7;
    border: .1px solid #727272;
    font-size: 12px;
  box-shadow:none !important;
  
}
#yes-id-like-to-receive-marketing-emails-from-hijoey:after {
    content: "";
    position: absolute;
}
#yes-id-like-to-receive-marketing-emails-from-hijoey:checked::after {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    left: 2px;
    top: 2px;
  
}

#shopify-section-page-free-modeling-worksheet .section_3 .fas {
    color: #ebebeb;
}
#free-modeling-worksheet .rte h1::after, 
#free-modeling-worksheet .rte .h1::after, 
#free-modeling-worksheet .rte h2::after, 
#free-modeling-worksheet .rte .h2::after {
display:none;
}
@media only screen and (max-width: 1024px) {
  #shopify-section-page-free-modeling-worksheet .section_5 .section_title:before {
    right: 0;
    top: auto;
    bottom: -15px;
    left: 0;
    text-align: center;
    margin: auto;
    }
}

@media only screen and (max-width: 767px) {
#free-modeling-worksheet .two-thirds,
#free-modeling-worksheet .one-third {
    width:100%;
  margin-left:0;
  margin-bottom:20px;
}
  #free-modeling-worksheet .main-content section {
  padding: 0 ;
  }
  
 #shopify-section-page-free-modeling-worksheet .section_5 {
  padding: 40px 0 !important;
  }
#shopify-section-page-free-modeling-worksheet .section_5 h3 {
    text-align: center;
}
  #free-modeling-worksheet .section_title:before {
  display:none;
  }

  #free-modeling-worksheet .section_5 h3 {
    text-align: center;
}
}

/****
THANK YOU PAGE
****/

.featured_collection_list .grid__item {
    float: left;
    margin-left: 2.564102564102564%;
  padding-left:0;
}

.featured_collection_list .grid__item {
    width: 31.623931623931625%;
}
.featured_collection_list .grid__item:first-of-type,
.featured_collection_list .grid__item:nth-of-type(3n+1){
    clear:both;
  margin-left:0;
}
#thank-you-for-contacting-us .main-content a:hover {
     color: #fff !important; 
} 
#shopify-section-page-thank-you .section_1 .fullwidth  {
    max-width: 500px;
    margin: auto;
    display: block;
    float: none;
}
#thank-you-for-contacting-us section{
width:100%;
  float:left;
  margin-bottom:10px;
}
#thank-you-for-contacting-us section {
  padding:50px 0;
}
#thank-you-for-contacting-us .section_2 h2 {
    text-align:left;
}
#thank-you-for-contacting-us section:first-of-type {
  padding-top:0;
}
#thank-you-for-contacting-us .main-content section .wrapper{
    max-width: 1050px;
  padding: 0 20px;
}

#thank-you-for-contacting-us .one-third,
#thank-you-for-contacting-us .two-thirds,
#thank-you-for-contacting-us .one-half,
#thank-you-for-contacting-us .one-fourth,
#thank-you-for-contacting-us .three-fourths{
    float: left;
    margin-left: 2.564102564102564%;
  min-height:10px;
}
#thank-you-for-contacting-us .one-third {
    width: 31.623931623931625%;
}

#thank-you-for-contacting-us .two-thirds {
   width: 65.81196581196582%;
}

#thank-you-for-contacting-us .one-half {
    width: 48.717948717948715%;
}
#thank-you-for-contacting-us .one-fourth {
    width: 23.076923076923077%; 
  min-height: 10px;
}

#thank-you-for-contacting-us .three-fourths {
    width: 74.35897435897436%;
}

#thank-you-for-contacting-us figure {
width: 100%;
    margin: 0;
  position:relative;
}
#thank-you-for-contacting-us .main-content .wrapper {
max-width:100%;
  padding: 0;
}
.first {
    clear: both;
    margin-left: 0 !important;
}
#thank-you-for-contacting-us .section_title {
  text-transform:uppercase;
  position:relative;
}
#shopify-section-page-thank-you .section_title::before {
position: absolute;
    content: "";
    height: 2px;
    width: 50px;
    background: #231F20;
    right: -62px;
    top: 8px;
}
#thank-you-for-contacting-us section h1 {
  margin-bottom:20px;
  text-align:left;
}
#thank-you-for-contacting-us .section_3 a {
      border: 0;
}


#thank-you-for-contacting-us .section_3 {
    position: relative;
    background-color: #f3f3f3;
}
.featured_top {
    position: absolute;
    left: -10px;
    top: 25px;
    /* background: red; */
    background-color: #e54b42;
    color: #fff;
    padding: 5px 15px;
}
#thank-you-for-contacting-us .section_3 h2{
    text-align: left;
}
.featured_collection_list{
    float: left;
    width: 100%;
}
.featured_collection_list .grid__item:nth-of-type(n+7) {
   display:none;  
} 
.featured_collection_list .hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
   -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
.featured_collection_list .grid-product__image-link:hover .hidden {
 opacity: 1;
  z-index:9;
}
.rte .text-link {
    border-bottom: 0 !important;
}
#shopify-section-page-thank-you h1 {
    position:relative;
}
#shopify-section-page-thank-you h1::after {
    content: '';
    display: block;
    margin: 20px auto;
    border-bottom: 1px #ebebeb solid;
    width: 50px;
    position: absolute;
    left: 0;
    height: 1px;
    background: #ebebeb;
}
.resource_list .one-third:first-of-type,
.resource_list .one-third:nth-of-type(3n+1){
    clear:both;
  margin-left:0 !important;
}
.resource_list .text_content{
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.article__featured-image-link {
    margin-bottom:10px;
}
.resource_list .text_content h5 {
    margin-bottom: 0;
}
.article__heading-link {
    color:#231f20;
}
.download_btn .btn {
    width:100%;
}
#thank-you-for-contacting-us .main-content .resource_list .article__heading-link:hover {
    color: inherit !important;
}

@media only screen and (max-width: 1023px) {
#shopify-section-page-thank-you .section_title::before {
display:none;
}
}
@media only screen and (max-width: 767px) {
  #thank-you-for-contacting-us .one-half:last-of-type,
  #thank-you-for-contacting-us .one-half:last-child {
  margin-bottom:0 !important;
  }
  #thank-you-for-contacting-us section h1 {
  margin-bottom:0;
  }
#thank-you-for-contacting-us .two-thirds,
#thank-you-for-contacting-us .one-third,
#thank-you-for-contacting-us .one-fourth,
#thank-you-for-contacting-us .three-fourths,
  #thank-you-for-contacting-us .one-half,
  .featured_collection_list .grid__item{
  width:100%;
  margin-left:0;
  margin-bottom:20px;
}
  
 .featured_collection_list .grid-product__wrapper {
    margin-bottom: 0;
}
  .rte h1::after, .rte .h1::after, .rte h2::after, .rte .h2::after {
  display:none !important;
  }
  
  #thank-you-for-contacting-us .main-content .section_2 {
    padding:40px 0;
  }
}



/***
HOMEPAGE
***/
#shopify-section-1593671463590 .rte-setting,
#shopify-section-1593671463590 li{
font-size: 16px !important;
    line-height: 24px;
}
.home_section_2 .list{
margin-top: 20px;
}
.home_section_2 .list li {
    position: relative;
    padding-left: 45px;
    /* min-height: 40px; */
    margin-bottom: 15px;
}
.home_section_2 .list li img {
position:absolute;
  left:0;
}
.home_section_2 li strong {
    line-height: 24px;
}
.home_section_3 .featured_link h5 {
    margin-top: 16px;
    position: relative;
    display: inline;
    color: #727272 !important;
}
.home_section_3 .featured_link h5:before {
    position: absolute;
    content: "";
    width: 100%;
    background: #234175 ;
    height: 1px;
    bottom: 0;
}
.home_section_3 .fa-chevron-left.slick-arrow {
    right: 70px;
    left: auto;
    top: -73px;
}
.home_section_3 .fa-chevron-right.slick-arrow {
right: 18px;
    top: -73px;

}
.list.stars img {
    width:20px;
}
#shopify-section-header {
    position: relative;
    z-index: 9999999;
}
.home_section_7 {
    background:#f1e8df;
}
#shopify-section-1593674073014 .collection-collage__item.large--one-third,
#shopify-section-1593674073014 .collection-grid__item-link,
#shopify-section-1593674073014 .collection-collage__item-wrapper .collection-grid__item-overlay{
overflow:visible;
}
#shopify-section-1593674073014 .collection-collage__item-wrapper .collection-grid__item-overlay:after {
    opacity:0;
}
#shopify-section-1593674073014 .collection-grid__item-title--wrapper {
    position: relative;
    height: auto;
}
#shopify-section-1593674073014 h6 {
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: 1.2px !important;
}
#shopify-section-1593674073014 h2  {
margin-bottom:40px;
}
#shopify-section-1593674073014 h6, 
#shopify-section-1593674073014 h2 {
  color:#231F20 !important;
}
#shopify-section-1593674073014 .collection-grid__item-title{
    font-family: "Harmonia Sans",sans-serif !important;
    font-size: 12px !important;
    line-height: 16px !important;
    font-weight: 600 !important;
    letter-spacing: 1.2px !important;
    text-transform: uppercase !important;
    letter-spacing: 0 !important;
    color: #727272 !important;
    margin-top: 24px !important;
    font-size: 16px !important;
    line-height: 24px !important;
}
.para_collections {
    
}
.collection-grid__item-title {
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
  color: #231F20 !important;
    letter-spacing: 0 !important;
  text-transform:none !important;
margin-top: 10px !important;
    font-style: normal !important;
    display: block !important;
}
.index-sections .shopify-section:first-child {
    margin-top: 0 !important;
}
.featured_slider.slick-slider {
    width:100%;
}
.featured_slider .slick-slide {
    display: block;
    margin: 0 10px;
} 
.slick-arrow {
    display: inline;
    position: absolute;
    top: 50%;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  font-size: 30px;
  cursor:pointer;
  z-index:9999;
}
.fa-chevron-left.slick-arrow {
left:-20px;
  
}
.fa-chevron-right.slick-arrow {
right:-20px;
}
 .btn,
  .btn-big,
  .btn-outline,
.btn-big-outline,
.btn-footer {
  text-transform:capitalize !important;
}
.index-sections .shopify-section {
    float: left !important;
    width: 100%;
}
#shopify-section-1593673427695 {
    margin-top: 20px;
}
#shopify-section-1593672972719 h3,
#shopify-section-1593672972719 h6{
color:#727272 !important;
}
#shopify-section-1593672972719 .slick-arrow {
    top: 37%;
}
#shopify-section-1593672972719 .fa-chevron-left.slick-arrow {
    left: -50px;
}
#shopify-section-1593672972719 .fa-chevron-right.slick-arrow {
    right: -50px;
}
#shopify-section-1593673380830 .fa-chevron-left.slick-arrow,
#shopify-section-1593673427695 .fa-chevron-left.slick-arrow{
    left:5px;
}
#shopify-section-1593673380830 .fa-chevron-right.slick-arrow ,
#shopify-section-1593673427695 .fa-chevron-right.slick-arrow{
    right:5px;
}
#shopify-section-1593674073014 {
text-align:center;
 padding-bottom: 130px;
}
.dog_slider_container .feature_content figure {
    max-width: 100px;
    margin: auto;
    margin-bottom: 20px;
}
.dog_slider_container .feature_content figure img {
    width:100%;
  height:100%;
}
.dog_slider_container .slick-arrow {
color:#ebebeb;
}
.dog_slider_container .slick-track,
.dog_slider_container .slick-track li{
    height: 100%;
}
.dog_slider_container .rte-setting{
font-size: 16px;
    line-height: 24px;
}
#shopify-section-footer {
    float: left;
    width: 100%;
}
.dog_slider {
list-style:none;
  width:100% !important;
}
.dog_slider li,
.dog_slider figure{
list-style:none;
     height: 100%;
}
.dog_slider figure {
margin:0;
}
.dog_slider figure img {
width:100%;
  height:100%;
  object-fit:cover;
}
.dog_slider_container {
float:left;
  width:100%;
}
.dog_slider_container .one-half {
    float: left;
    width: calc(50% - 10px);
    margin-left:20px;
  position:relative;
}
.dog_slider_container .one-half.first {
    margin-left:0 !important;
}
.dog_slider_container .text_content {
    text-align: center;
    padding: 35px;
    background: #f7f7f7;
    position: relative;

}
.dog_slider_container .feature_content {
position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 35px;
}

.dog_slider_container .text_content,
.dog_slider,
.dog_slider .slick-list {
    height: 400px;
}
#AccessibleNav {
    top: 2px;
}
.site-header.shrink .site_logo {
    top: 0;
}
.site-header {
    background: #fff !important;
}
.site-header.shrink .site-nav__link {
    padding: 20px 24px 12px;
}
.hero__cta {
    float: right !important;
}
.list {
margin-left:0;
}
.list li {
    list-style:none !important;
}
.list img {
    width: 32px;
    margin-right: 5px;
    position: relative;
    top: -5px;
    height: 32px;
}

#shopify-section-featured-products .section-header a {
border-bottom: 1px solid #324175;
    display: inline-block;
}
#shopify-section-featured-products .section-header h6 {
    margin-top: 8px;
}
.col_add_to_cart {
    width: 100%;
}
.col_add_to_cart #product-actions {
    max-width: 151px;
    margin: auto;
}

#shopify-section-slideshow .two-thirds {
 width: 66.666666%;
  float:right;
}
#shopify-section-1593672972719 {
background: #d6dfe6 ;
    padding: 70px 0 70px;
    text-align: center;
}
#shopify-section-1593672972719  .custom__item-inner--html {
    text-align: center;
}
#shopify-section-1593672972719 h2 {
    position: relative;
    margin-bottom: 70px;
}
#shopify-section-1593672972719 h2:after {
    content: "";
    position: absolute;
    background: #231F20;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -20px;
}
.stars {
margin-bottom:30px;
}
.stars li {
    display:inline-block;
}
.slick-slide {
    padding: 0 !important;
}
.slick-slider .slick-dots {
    bottom: -25px;
  left:0;
}
.slick-slider .slick-dots li button:before, 
.slick-slider .slick-dots li a:before {
    background:#fff;
  border-color:#fff;
}
.slick-slider .slick-dots li.slick-active button:before {
    background:#869791;
  border-color:#869791;
}
:focus {
    outline: 0 !important;
}
#shopify-section-1593487352285 .feature-row__item,
#shopify-section-1593487581712 .feature-row__item{
   height: 400px;
  overflow:hidden;
}
#shopify-section-1593487352285 img,
#shopify-section-1593487352285 .feature-row__image-wrapper,
#shopify-section-1593487581712 img,
#shopify-section-1593487581712 .feature-row__image-wrapper{
    width:100%;
  height:100%;
  object-fit:cover;
      object-position: center;
}
#shopify-section-1593487352285 .feature-row__text--right {
    margin-right: 20px;
  
}

#shopify-section-1593487581712 .feature-row__text--left {
    margin-left: 20px ;
}
#shopify-section-1593487352285 .feature-row__text,
#shopify-section-1593487581712 .feature-row__text
{
    text-align: center;
    padding: 35px;
    background: #f7f7f7;
  position:relative;
}
#shopify-section-1593487352285 .feature_content,
#shopify-section-1593487581712 .feature_content{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  padding: 35px;
}
#shopify-section-1593487581712 {
  margin-top: 20px;
}
.home_section_7 {
    padding: 70px 0px 70px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: .85;
  background-position: 100% center !important;

}
.home_section_7 h4 {
color:#231f20 !important;
}
.home_section_7 .rte-setting {
font-size:16px;
  line-height:24px;
}
.home_section_7:before {

}
.home_section_7 .feature-row {
    display: block;
}
.home_section_7 .feature-row.page-width {

    width: 50%;
    margin: auto;
}
.home_section_7 .center {
    max-width: 250px;
    margin: auto;
    margin-bottom: 62px;
}
.home_section_7 .wrapper {
position: relative;
}

.home_section_7 .feature_content {
    text-align: center;
    max-width: 600px;
    margin: auto;
}
.para_collections {

}
#shopify-section-newsletter   {
  margin-top: 0;
}
#shopify-section-newsletter .newsletter form {
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 50px;
}
#shopify-section-newsletter .newsletter--form .input-group-btn {
right: 0;
    width: 100%;
    left: 0;
    position: relative;
    display: block;
}
#shopify-section-newsletter .newsletter__submit {
      width: 100%;
} 
.newsletter form .newsletter--form, .newsletter .newsletter__input {
    background-color: transparent;
      color: #231F20;
}
#shopify-section-newsletter .newsletter .newsletter__input {


    border-bottom: 1px solid #231F20;
}
#shopify-section-newsletter .newsletter {
    background-color: #f5ebe3;

}
.template-index .main-content {
padding-bottom:0 ;
}
#shopify-section-1593671344567 .bg{
padding: 100px 0;
    float: left;
    width: 100%;
    margin-bottom: 80px;
}
#shopify-section-1593671344567 .feature-row {
    display: block;
}
#shopify-section-1593671344567 .feature-row__text {
    padding: 0;
    width: 50%;
    float: right;
}
#shopify-section-1593671344567 .feature_content {
    text-align: right;
}
.bg {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}
#shopify-section-1593671344567 .btn {
    float: right;
  color:#FFF !important;
}
  .mobile_only {
  display:none;
  }
  .desktop_only {
  display:block;
  }
.slick-slider {
width: 66%;
    margin: auto
}
#shopify-section-1593487581712 .feature-row__image-wrapper,
#shopify-section-1593487352285 .feature-row__image-wrapper{
padding-top:0 !important;
}
.shrink .cart-link__bubble--visible {
    top: 16px;
}
  .cart-link__bubble--visible {
    top: 26px ;
    right: 15px ;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

@media only screen and (min-width: 1025px) {
#shopify-section-1593671344567 .bg {
    padding: 150px 0;
}
  .dog_slider_container .text_content, 
  .dog_slider, .dog_slider .slick-list,
  .dog_slider_container .slick-track, 
  .dog_slider_container .slick-track li{
    height: 500px;
}
}

@media only screen and (max-width: 1110px) {
  .cart-link__bubble--visible {
    top: 0 !important;
    right: -7px !important;
}
}

@media only screen and (max-width: 1100px) and (min-width: 768px) {
.main-content {
    margin-top: 107px !important;
}

}

@media only screen and (max-width: 768px) {
#shopify-section-1593487352285 .feature-row__text--right,
  #shopify-section-1593487581712 .feature-row__text--left{
    margin: 0 ;
  
}
#shopify-section-1593671344567 .feature_content {
    width: 100%;
}
}

@media only screen and (max-width: 767px) {
  .home_section_7 .feature-row__image {
  max-width: 150px;
  }
  .home_section_7 .feature-row__image-wrapper {
    padding-top: 62.583658% !important;
}
  .featured_link.mobile_only {
    text-align:center;
  }
  .featured_slider.slick-slider {
    margin-top: 20px;
    float: left;
}
  .home_section_3 .grid-product__wrapper {
  margin-bottom:-2px;
  }
  .home_section_3 .fa-chevron-left.slick-arrow,
  .home_section_3 .fa-chevron-right.slick-arrow{
      top: -15px;
  }
  .collection-collage__item.one-half,
  .collection-collage__item.one-whole{
    height: 200px;
    width: 100% !important;
    margin-bottom: 72px !important;
}
  .fa-chevron-left.slick-arrow {
left:-10px;
  
}
.fa-chevron-right.slick-arrow {
right:-10px;
}
.dog_slider_container .one-half {
    width: 100%;
  margin-left:0;
}
  .dog_slider_container .feature_content figure {
    max-width: 80px;
}
  .dog_slider_container .text_content, 
  .dog_slider, .dog_slider .slick-list {
    height: 400px;
}
  
  .slick-slide {
     padding-left: 0 !important; 
    
  }
  .home_section_7 .feature-row.page-width {
    width: 100%;
}
  .slick-slider {
    width: 100%;
}
  #shopify-section-1591384288031 .feature_content {
      padding: 0 20px;
  }
  #shopify-section-1593671344567 figure {
  width:100%;
    margin:0;
  }
  .mobile_only {
  display:block;
  }
  .desktop_only {
  display:none;
  }
#shopify-section-slideshow .two-thirds {
    width: 100%;
    float: right;
    text-align: center;
}
  #shopify-section-1593671344567 .feature-row__text {
    width: 100%;
}
  #shopify-section-1593671344567 .feature_content {
    text-align: center;
    margin-top: 50px;
    float: left;
    margin-bottom: 100px;
}

  .slick-slider {
      padding: 0 !important;
    padding-left:22px;
  }

  #shopify-section-1593487352285 .feature-row__text--right,
  #shopify-section-1593487581712 .feature-row__text--left{
  margin:0;
  }
  
  #shopify-section-newsletter .newsletter .section-header+.section-subheading {
    margin-bottom: 0;
}
}

/****
SINGLE PRODUCTS PAGE
*****/
#shopify-section-product-template .product-single__title {
    margin-bottom: 8px;
}
#shopify-section-product-template .product-single__meta {
    text-align: left;
}
.qty-alert {
    padding: 12px;
  text-align:center;
}
#shopify-section-product-template .product-single__vendor { 
    margin-bottom: 16px;
    display: block;
}

#shopify-section-product-template .money.conversion-bear-money{
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 600 !important;
    font-style: normal;
    text-transform: inherit;
}
#shopify-section-product-template .product-single__meta .hr--small {
    margin: 20px auto;
    margin-left: 0;
    width: 100px;
}
#shopify-section-product-template caption-link {
    text-align: center !important;
    display: block;
}
/****
CART PAGE
*****/

.cart__product-meta.remove {
    position: absolute;
    top: 0;
    right: 30px;
    width: 20px;
    text-align: center;
}
.cart__subtotal .money.conversion-bear-money{
    text-align: right;
    position: relative;
    top: -4px;
    float: right;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
} 

.cart__note-container,
.cart__notice-container {
    vertical-align: top !important;
    float: left;
    width: 100%;
    margin-top: 24px;
}
.cart__notice-container .cart__notice {
background: #F7F7F7;
    border: 1px solid #ebebeb;
    text-align: left;
    padding: 10px;
    float: left;
    width: 100%;
}
.cart__notice-container p {
    margin-bottom:0;
}
.cart__note textarea {
    background: #F7F7F7;
}
.btn.update-cart {
display:none !important;
}
.cart_grid_items {
    float: left;
    text-align: center;
    width: 100%;
    margin-top: 50px;
}
.update-cart,
.update-cart+.cart__checkout {
    text-transform: inherit !important;
}
.cart_grid_items h4 {
margin-bottom:50px;
  color:#231f20;  
}
.cart_grid_items .hidden {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
   -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
.cart_grid_items li {
list-style:none;
}
.cart_grid_items .grid-product__image-link:hover .hidden {
 opacity: 1;
  z-index:9;
}

#your-shopping-cart .main-content h2 {
    text-transform: capitalize;
}
.cart__product-name,
.cart__product-meta,
.cart__product-qty,
.money.conversion-bear-money{
    font-size: 14px !important;
    line-height: 20px !important;
    font-weight: normal !important;
    font-style: normal;
    text-transform: inherit;
}
.cart__product-qty {
    text-align: center;
    margin: 0 auto;
    max-width: 30px;
    padding: 5px;
    text-align: center;
}
.top_cart_titles {
      font-size: 12px !important;
  line-height:16px !important;
  font-weight: 600 !important;
  letter-spacing: 1.2px !important;
margin-bottom: 20px;
    display: block;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  color:#727272 !important;
}
.cart__row--table-large .grid__item {
    vertical-align: top;
}
.cart_subtotal {
text-align: left;
    float: left;
}
.cart .one-half.first {
clear:both;
  margin-left:0;
}
.cart .one-half {
    margin-left: 2.564102564102564%;
    width: 48.717948717948715%;
    float: left;
    padding-top: 0;
    border: 0;
}
.cart__row--last .cart__row--table-large {
    display:block;
}
.cart__subtotal {
 text-align: left;
    text-transform: capitalize;
}
.cart__product-meta.remove caption-link {
    display: block;
    background: #f7f7f7;
    padding: 4px;
}
.update-cart,
.update-cart+.cart__checkout {
    display: block;
    width: 100%;
}
.b_bottom {
border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}
.additional_checkout_buttons {
    float: left;
    width: 100%;
    border-top: 1px solid #ddd;
    margin: 10px 0 0;
}

#dynamic-checkout-cart .shopify-cleanslate ._1mqqPYZtCQtz5_i0b-po4l{
width: 100%;
    display: block !important;
    margin: 0 !important;
}
#dynamic-checkout-cart .shopify-cleanslate ._3TUeZPsTWjDxakSmeDcA4D {
    margin: 0 0 10px !important;
}
.cart__note label {
display: block;
    margin-bottom: 10px;
}
.cart__note {
    padding-right: 0px;
}

.cart_grid_items .grid__item  {
    padding: 0 10px;
} 
.h4.cart__product-name {
    margin-bottom: 8px;
}
/* Chrome, Safari, Edge, Opera */
.template-cart input::-webkit-outer-spin-button,
.template-cart input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Firefox */
.template-cart input[type=number] {
  -moz-appearance: textfield;
}

.hr--big {
width: 100%;
    margin-bottom: 0;
    margin-top: 28px;
    /* display: block; */
    float: left;
    width: 100%;
}

@media only screen and (min-width: 768px) {
.cart__subtotal-container {
    margin-top: 0;
}
}
@media only screen and (max-width: 767px) {
  .cart .one-half {
    margin:0 !important;
    width:100% !important;
  }
  .cart__note {
    float: left;
    width: 100%;
    margin-top: 10px;
}
  .top_cart_titles {
      margin-bottom: 0;
  }
  
  .cart__row {
    padding-top: 20px;
}
.cart__product-meta.remove {
    top: 20px;
    right: 0;
}
  .cart .price_section .one-half {
    width: 50% !important;
}
  .cart__subtotal .money.conversion-bear-money {
    top: 0; 
  }
  .cart__subtotal-container {
    margin-top: 13px;
}
}



/****
HEADER CART
****/
.header_cart {
    float:right;
}
@media only screen and (max-width: 1110px) {
.mobile_cart {
    display: block !important;
    float: right;
    position: absolute;
    right: 40px;
    top: 20px;
}
.mobile_cart a {
    padding: 0;
}
.site-header.shrink .mobile_cart .site-nav__link {
   padding: 0;
  }
  
.ultimate-currency {
    top: 11px !important;
    left: 24px;
}
  
}

.ultimate-currency {
  -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
    position: relative;
    top: 13px;
}

.site-header.shrink .ultimate-currency{
  
    position: relative;
    top: 0;
}




h1 {
    font-size: 48px !important;
  font-weight: 500 !important;
  font-family: "Cooper BT",serif !important;
  line-height:56px !important;
}

h2 {
    font-size: 36px !important;
  font-weight: 500 !important;
  font-family: "Cooper BT",serif !important; 
  line-height:42px !important;
}

h3 {
    font-size: 28px !important;
  line-height:36px !important;
  font-weight:normal !important;
}

h4 {
    font-size: 20px !important;
  font-weight: 500 !important;
  line-height:28px !important;
  font-weight:normal !important;
}

h5 {
    font-size: 16px !important;
  font-weight: 600 !important;
  line-height:24px !important;
}

h6{
    font-size: 12px !important;
  line-height:16px !important;
  font-weight: 600 !important;
  letter-spacing: 1.2px !important;

}
body, p {
    font-size:14px !important;
  line-height:20px !important;
  font-weight: normal !important;
}
caption {
    font-size:12px !important;
  line-height:16px !important;
  font-weight: normal !important;
}

caption-link {
  font-size:12px !important;
  line-height:16px !important;
  font-weight: normal !important;
}

tag-label {
  font-size:12px !important;
  line-height:12px !important;
  font-weight: 600 !important;
  letter-spacing: 1.2px !important;
  text-transform:capitalize !important;

}

product-main-title {
  font-size: 36px !important;
  font-weight: 500 !important;
  font-family: "Cooper BT",serif !important; 
  line-height:48px !important;
}

product-subtitle {
  font-size: 24px !important;
  font-weight: 500 !important;
  font-family: "Cooper BT",serif !important; 
  line-height:36px !important;
}

h3, h4, h5 {
    text-transform:none !important;
}

h3, h4, h5, h6, body, p, tag-label {
    font-family: "Harmonia Sans",sans-serif !important;
}

h1, h2, h3, h5, h6, product-main-title, a{
    color:#231F20 !important;
    letter-spacing:0 !important;
}

h4, body, p, product-subtitle, caption {
    color:#727272 !important;
    letter-spacing:0 !important;
}

a:hover {
    color:#727272 !important;
}

 .btn,
  .btn-big,
  .btn-outline,
.btn-big-outline,
.btn-footer {
float:left;
  display:inline-block;
  letter-spacing: 0;
      font-weight: 600 !important;
    border-radius: 8px !important;
  cursor:pointer;
  text-transform:capitalize;
}

.btn {
    padding: 12px 24px !important;
    margin: 8px 0 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #fff !important;
    background: #324175 !important;
}
.btn-big {
    padding: 16px 24px !important;
    margin: 8px 0 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #fff !important;
    background: #324175 !important;
}
.btn-outline {
    padding: 12px 24px !important;
    margin: 8px 0 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    background: transparent !important;
    border: 2px solid #324175 !important;
    color: #324175 !important;
}
.btn-big-outline {
    padding: 16px 24px !important;
    margin: 8px 0 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    background: transparent !important;
    border: 2px solid #324175 !important;
    color: #324175 !important;
}
.btn-footer {
    padding: 12px 24px !important;
    margin: 8px 0 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #fff !important;
    background: #1B1F23 !important;
}

#test .main-content section {
    float:left;
      width:100%;
  margin-bottom:20px;
}
/***
HEADER
***/
.about.site-nav__item > ul a {
font-size:14px !important;
  line-height:20px !important;
  font-weight: normal !important;
}
.site-nav__link,
.mobile-nav__item a {
font-size: 14px !important;
line-height:14px !important;
  font-weight: 600 !important;
  color:#727272 !important;
}

  .mobile-nav__sublist a {
  font-weight:normal !important;
}

  .mobile-nav__subsublist a {
  font-weight:normal !important;
}

  .mobile-nav__item--secondary a {
  font-weight:normal !important;
}


  .mobile_menu {
    z-index: 999;
    position: relative;
  }

  .mobile-nav__item a {
    font-size: 16px;
}

.site-header {
    padding: 4px 0;
 
}
.site-header .grid--table {
    display: block;
}
.site-header .grid--table>.grid__item {
    float: none;
    display: block;
}
.site_logo {
    position: absolute;
    top: 56px;
    left: 0;
}
#AccessibleNav  .about.site-nav__item  ul.site-nav__dropdown {
     padding-left: 160px !important;
}
.site_logo, .nav_menu_container {
    width: 100%;
    float: left !important;
}
#AccessibleNav {
    text-align: left;
}
.site-header .wrapper {
max-width:100%;
  padding:8 16px;
}
/** Removing this so that the Shopify customize option works
.site-header__logo img {
    max-width: 100% !important;
    height: 56px;
}
**/

/** BEGINNING of Sean's code **/
.site-header__logo img {
  padding: 8px 0;

}

.site-header__logo-link {
  vertical-align: middle; 
}

/** END of Sean's code **/

.site-nav__link {
    padding: 32px 24px;
}
.site-nav__item {
 position: initial !important;
}
.site-nav--has-dropdown .site-nav__dropdown {

}
.site-nav__link a:before {
    display:none !important;
}
.site-nav__dropdown-grandchild {
    position: relative;
    left: 0;
    margin: 0;
    z-index: 1;
    opacity: 1 !important;
 
    box-shadow: none !important;
}
#AccessibleNav .site-nav__dropdown {
padding:40px 36px !important;
}
.site-nav__dropdown.site-nav--has-grandchildren {
padding:12px 36px !important;
}
.site-nav__dropdown-grandchild a,
.site-nav__dropdown-link {
    padding: 4px 0;
  text-align:left;
}
.shop.site-nav__item .site-nav__dropdown > li {
  width:14%;
  float:left;
}
.shop.site-nav__item .site-nav__dropdown > li:nth-child(7n+1) {
 clear:both;
  
}
.site-nav__dropdown-link {
    font-style:normal !important;
}

.site-nav__dropdown-grandchild {
transform: none;
}
.site-nav__dropdown .icon  {
display:none;
}

.site-nav__dropdown > li > a {
    font-weight: 600;
}
/***
HEADER SHRINK
****/
.main-content {
margin-top: 130px;
}
.site_logo {
    position: absolute;
    top: 16px;
    left: 0;
      max-width: 300px;
    margin: auto;
    left: 0;
    right: 0;
}
.announcement-bar {
    position: fixed;
    width: 100%;
  top:0;
}
.announcement-bar.shrink {
    top: -38px;
}
.announcement-bar,
.site-header,
.site-nav__link,
.site-header .site_logo,
.site-header .site-header__logo img{
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    -o-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
}
.site-header {
    top: 40px;
    position: fixed;
    width: 100%;
  border-bottom: 1px solid #F0F0F0;
}
.site-header.shrink {
      top: 0
}
.site-header.shrink .site-header__logo img {

}



/****
FAQ PAGE
****/
#faq main .section-header {
    display:none;
}
#faq main .grid__item {
    width: 100%;
    left: 0;
}
.faq.PageLayout {
    float:left;
  width:100%;
}
.faq.PageLayout .left,
.faq.PageLayout .right{
    float:left;
}
.faq.PageLayout .left {

}
.faq.PageLayout .right{

    padding-left: 30px;
}
.FaqSummary {
    list-style: none;
    margin: 0;
    padding: 0;
}
.FaqSummary__Item {
    margin-bottom: 12px !important;
}
.FaqSummary__Link {
    cursor: pointer;
    position: relative;
    width: auto;
    display: inline;
}
.FaqSummary__LinkLabel {
    position: relative;
    display: inline-block;
}
.FaqSummary__Item.is-active .FaqSummary__Link::after,
#shopify-section-footer .site-footer__linklist a:hover:after{
    transform: scale(1, 1);
}
.FaqSummary__Link::after,
#shopify-section-footer .site-footer__linklist a:after{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    transform: scale(0, 1);
    transform-origin: left center;
    background: currentColor;
    transition: transform 0.2s linear;
}
.Faq__Section {
    margin-bottom: 34px !important;
      text-align: left !important;
}
.Anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}
.Faq__Item {
    position: relative;
    margin: 14px 0;
}
.Faq__Icon {
    position: absolute;
    top: 0;
    left: 0;
    color: #9d9d9d;
    transition: all 0.3s ease-in-out;
}
.Faq__Icon svg {
    width: 8px;
    height: 10px;
    vertical-align: baseline;
}
.Faq__ItemWrapper {
    padding-left: 26px;
}
.Faq__Question {
display: block;
    width: 100%;
    margin-bottom: 0;
    text-align: left;
    cursor: pointer;
    padding-left: 20px;
}
.Faq__AnswerWrapper {
    height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: height 0.25s ease-in-out, visibility 0s ease-in-out 0.25s;
}
.Faq__Answer {
    padding: 16px 20px 22px;
}
.Faq__Answer p:last-child,
.Faq__Answer p:last-of-type{
    margin-bottom:0 ;
}


.accordion-container{
position: relative;
    height: auto;
    margin-bottom: 50px;
}

.set {
  position: relative;
  width: 100%;
  height: auto;
    margin: 14px 0;
}
.set > a{
  display: block;
  text-decoration: none;
  color: #555;
  font-weight: 600;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a i{
  float: right;
  margin-top: 2px;
}
.set > a.active{
}
.content{
  display:none;
}

.active .Faq__Icon {
    transform: rotateZ(90deg);
    color: #454545;
}

#main {
        width: 500px;
        height: 1000px; /*can be anything, just should make sure it is taller than the sidebar*/
        padding: 25px;
        float: left;
      }
      #sidebar {
        width:300px;
        min-height: 200px;
        margin: 10px 0 15px 0; /*controls the cutoff of the top and bottom limitations*/
        padding: 15px 10px;
        float: left; /* float right for a right aligned sidebar */
        left:auto !important;
      }
      #footer {
        width: 940px;
        clear:both;
        background-color: #ccc;
        height: 500px;
        margin-top: 100px;
      }
      #wrapper {
        width: 800px; /* MUST HAVE WIDTH SET, should be the sidebar width + main width */
        margin-left: auto;
        margin-right: auto;
      }


/***
SITE FOOTER
****/
.site-footer {
    border-top: 1px solid #ebebeb;
    padding-top: 80px;
}
.site-footer a {
    position: relative;
}
#shopify-section-footer .twenty {
width:20%;
  float:left;
}
#shopify-section-footer .forty {
width:40%;
  float:left;
}

.site-footer__linklist li:first-child,
.©-2020-hijoey-co {
    font-weight: bold;
margin-bottom: 10px;
    font-size: 12px !important;
    line-height: 16px !important;
    font-weight: 600 !important;
    color: #231F20;
    pointer-events: none;
}

.site-footer__linklist li  {
font-size:14px !important;
  line-height:20px !important;
  font-weight: normal !important;
}
#shopify-section-footer h6 {
color:#231F20 !important;
}
.newsletter--form {
    width: 100%;
    display: block;
}
.newsletter--form .input-group {
width:100%;
  display:block;
}
.newsletter--form .input-group-btn {
    position: absolute ;
    top: 10px;
    right: 10px;
    width: 35px;
}
.newsletter--form img {
    width: 100%;
    height: 100%;
}
.social-icons {
    float: left;
    margin-top: 10px;
}
.social-icons li {
display:inline-block;
  margin-right:10px;
}
.social-icons li:last-child {
margin-right:0;
}
#footer_bottom {
background:#F7F7F7 ;
      float: left;
    width: 100%;
     padding: 12px 0;
}
#footer_bottom ul {
    margin-bottom:0;
  text-align: right;
}
#footer_bottom li {
    display:inline-block;
  font-size:12px !important;
  line-height:16px !important;
  font-weight: normal !important;
      margin-right: 24px;
}

/***
MEDIA QUERY
***/
@media only screen and (max-width: 1110px) {
  .mobile_menu.large--hide,
  .site-nav--open {
    display: none;
   display:block !important;
  }
  .nav_menu_container  {
  display:none !important;
  }
.site-header.shrink .site_logo {
    top: -1px;
}
  
}

@media only screen and (max-width: 1024px) {
.mobile_first {
    clear:both;
  margin-left:0;
}
h1 {
    font-size: 28px !important;
  line-height:36px !important;
}

h2 {
    font-size: 24px !important;
  line-height:32px !important;
}

h3 {
    font-size: 22px !important;
  line-height:28px !important;
}

h4 {
    font-size: 16px !important;
  line-height:24px !important;
}

h5 {
    font-size: 16px !important;
  line-height:24px !important;
}

h6 {
    font-size: 12px !important;
  line-height:16px !important;
}
body, p {
    font-size:14px !important;
  line-height:20px !important;
}
  
product-main-title {
  font-size: 24px !important;
  line-height:32px !important;
}  
  
product-subtitle {
  font-size: 20px !important;
  line-height:26px !important;
}  
  
.site-header .grid--table {
    height: 60px;
}
  
#shopify-section-footer .twenty,
  #shopify-section-footer .forty {
  width:50%;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1110px) and (min-width: 768px) {

  .site_logo {
    top: 5px;
 }
  #AccessibleNav {
    text-align: center;
 }
}

@media only screen and (max-width: 999px)  {
  .nav_menu_container {
     padding-bottom:20px;

  }
}

@media only screen and (max-width: 768px)  {
.site_logo {
    top: -2px;
}
}

@media only screen and (max-width: 767px)  {
  .main-content {
    margin-top: 108px;
}
  .privacy-policy,
.inspired-by-christina-stella {
display:none !important;
}
  #shopify-section-footer .twenty,
  #shopify-section-footer .forty {
  width:100%;
    margin-bottom: 20px;
    text-align: left;
  }
#sidebar {
display:none;
}
  #main {
    width: 100%;
    height: auto;
}
  #wrapper {
    width: 100%;
}
  
  .btn,
  .btn-big,
  .btn-outline,
  .btn-big-outline {
    width:100% !important;
    display:block !important;
        text-align: center;
}
 
}

.covid-19 {
 padding: 32px;
 background-color: #F0F0F0;
 vertical-align: middle;
 text-align: center;
}

/* ===============================================
// Reveal module for Product Img Change on Hover -- from https://community.shopify.com/c/Shopify-Design/Collection-Add-a-hover-effect-to-product-images-on-your/td-p/614960/page/3
// =============================================== */

.reveal .hidden { display: block !important; visibility: visible !important;}
.product:hover .reveal img { opacity: 1; }
.reveal { position: relative; }
.reveal .hidden { 
  position: absolute; 
  z-index: -1;
  top: 0; 
  width: 100%; 
  height: 100%;  
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;  
}
.reveal:hover .hidden { 
  z-index: 100000;
  opacity: 1;    
}
.grid-product__price p {
margin-bottom:0;
}
.reveal .caption {
  position: absolute;
  top: 0;  
  display: table;
  width: 100%;
  height: 100%;
  background-color: white; /* fallback for IE8 */
  background-color: rgba(255, 255, 255, 0.7);
  font: 13px/1.6 sans-serif;
  text-transform: uppercase;
  color: #333;
  letter-spacing: 1px;
  text-align: center;
  text-rendering: optimizeLegibility;
}
.reveal .hidden .caption .centered {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 480px) and (max-width: 979px) {
  .reveal .caption { 
    font-size: 11px; 
  }
}

.cart-link__bubble--visible {
background-color: #FE524A;
}
