
//Custom JavaScript Author: JM
const closeButton = document.querySelector(".close-button");
const alertClose = document.querySelector(".alert-close");
const openModal = document.querySelector(".trigger");
const modal = document.querySelector(".modal");
const greet = document.querySelector(".successfull");
const emailContact = document.querySelector("#emailContact");
const btnNotify = document.querySelector("#btn-notify");
const alertMsg = document.querySelector("#alert-msg");
const backordedProd = document.querySelector(".backorded-prod");
const shipProd = document.querySelector(".shiping-prod");

var productTitle = document.querySelector("#product-title");

var promoCode = "BESTFREN10"; 
var htmlEmail = ""; 

function onlyOne(checkbox) {
  const checkboxes = document.getElementsByName('check')
  checkboxes.forEach((item) => {
      if (item !== checkbox) item.checked = false
  })
}

// this close the modal using the close button
if(closeButton) {closeButton.addEventListener("click", toggleModal);}
if(alertClose) {alertClose.addEventListener("click", toggleAlertClose);}
if(openModal) {openModal.addEventListener("click", toggleModal);}

function toggleModal() {
  modal.classList.toggle("show-modal");
}

function toggleAlertClose() {
  post("/contact#contact_form");
}

// Manual Post Method 
function post(path, method="post") {

  const form = document.createElement('form');
  form.method = method;
  form.action = path;
  
  document.body.appendChild(form);
  form.submit();
}

//#region HTML EMAIL
htmlEmail = `
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Simple Transactional Email</title>
    <style>
      /* -------------------------------------
          GLOBAL RESETS
      ------------------------------------- */
      
      /*All the styling goes here*/
      
      img {
        border: none;
        -ms-interpolation-mode: bicubic;
        max-width: 100%; 
      }

      body {
        background-color: #f6f6f6;
        font-family: sans-serif;
        -webkit-font-smoothing: antialiased;
        font-size: 14px;
        line-height: 1.4;
        margin: 0;
        padding: 0;
        -ms-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%; 
      }

      table {
        border-collapse: separate;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
        width: 100%; }
        table td {
          font-family: sans-serif;
          font-size: 14px;
          vertical-align: top; 
      }

      /* -------------------------------------
          BODY & CONTAINER
      ------------------------------------- */

      .body {
        background-color: #f6f6f6;
        width: 100%; 
      }

      /* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a phone or something */
      .container {
        display: block;
        margin: 0 auto !important;
        /* makes it centered */
        max-width: 580px;
        padding: 10px;
        width: 580px; 
      }

      /* This should also be a block element, so that it will fill 100% of the .container */
      .content {
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
        max-width: 580px;
        padding: 10px; 
      }

      /* -------------------------------------
          HEADER, FOOTER, MAIN
      ------------------------------------- */
      .main {
        background: #ffffff;
        border-radius: 3px;
        width: 100%; 
      }

      .wrapper {
        box-sizing: border-box;
        padding: 20px; 
      }

      .content-block {
        padding-bottom: 10px;
        padding-top: 10px;
      }


      /* -------------------------------------
          TYPOGRAPHY
      ------------------------------------- */
      h1,
      h2,
      h3,
      h4 {
        color: #000000;
        font-family: sans-serif;
        font-weight: 400;
        line-height: 1.4;
        margin: 0;
        margin-bottom: 30px; 
      }

      h1 {
        font-size: 35px;
        font-weight: 300;
        text-align: center;
        text-transform: capitalize; 
      }

      p,
      ul,
      ol {
        font-family: sans-serif;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
        margin-bottom: 15px; 
      }
        p li,
        ul li,
        ol li {
          list-style-position: inside;
          margin-left: 5px; 
      }

      a {
        color: #3498db;
        text-decoration: underline; 
      }

   

      /* -------------------------------------
          OTHER STYLES THAT MIGHT BE USEFUL
      ------------------------------------- */
      .last {
        margin-bottom: 0; 
      }

      .first {
        margin-top: 0; 
      }

      .align-center {
        text-align: center; 
      }

      .align-right {
        text-align: right; 
      }

      .align-left {
        text-align: left; 
      }

      .clear {
        clear: both; 
      }

      .mt0 {
        margin-top: 0; 
      }

      .mb0 {
        margin-bottom: 0; 
      }

      .preheader {
        color: transparent;
        display: none;
        height: 0;
        max-height: 0;
        max-width: 0;
        opacity: 0;
        overflow: hidden;
        mso-hide: all;
        visibility: hidden;
        width: 0; 
      }

      hr {
        border: 0;
        border-bottom: 1px solid #f6f6f6;
        margin: 20px 0; 
      }

      .promo-code {
        text-align: center;
      }

      .promo-code .code {
        background-color: lightgray;
        display: inline-block;
        padding: 10px;
      }

      /* -------------------------------------
          RESPONSIVE AND MOBILE FRIENDLY STYLES
      ------------------------------------- */
      @media only screen and (max-width: 620px) {
        table[class=body] h1 {
          font-size: 28px !important;
          margin-bottom: 10px !important; 
        }
        table[class=body] p,
        table[class=body] ul,
        table[class=body] ol,
        table[class=body] td,
        table[class=body] span,
        table[class=body] a {
          font-size: 16px !important; 
        }
        table[class=body] .wrapper,
        table[class=body] .article {
          padding: 10px !important; 
        }
        table[class=body] .content {
          padding: 0 !important; 
        }
        table[class=body] .container {
          padding: 0 !important;
          width: 100% !important; 
        }
        table[class=body] .main {
          border-left-width: 0 !important;
          border-radius: 0 !important;
          border-right-width: 0 !important; 
        }
        table[class=body] .btn table {
          width: 100% !important; 
        }
        table[class=body] .btn a {
          width: 100% !important; 
        }
        table[class=body] .img-responsive {
          height: auto !important;
          max-width: 100% !important;
          width: auto !important; 
        }
      }

      /* -------------------------------------
          PRESERVE THESE STYLES IN THE HEAD
      ------------------------------------- */
      @media all {
        .ExternalClass {
          width: 100%; 
        }
        .ExternalClass,
        .ExternalClass p,
        .ExternalClass span,
        .ExternalClass font,
        .ExternalClass td,
        .ExternalClass div {
          line-height: 100%; 
        }
        #MessageViewBody a {
          color: inherit;
          text-decoration: none;
          font-size: inherit;
          font-family: inherit;
          font-weight: inherit;
          line-height: inherit;
        }
        
      }

    </style>
  </head>
  <body class="">
    <span class="preheader">You'll receive a notification when our hijjoey product title here comes back to in stock.</span>
    <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <table role="presentation" class="main">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p>Hi there,</p>
                        <p>You'll receive a notification when our hijoey product ${ productTitle.textContent } comes back to in stock.</p>
                        <p>We founded hijoey with one goal in mind: to help inspire confidence and curiosity for you and your best friend. We're excited to have you as part of the family!</p>
                        <p>Please use the code below for an additional 10% off on your next order:</p>

                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="promo-code">
                          <h2 class="code"> ${ promoCode } </h2>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
`
//#endregion

function openMessage() {

  if (emailContact.value.length != 0) {

    try {

      Email.send({
          SecureToken: "2d4d847e-acd8-4318-a7e3-270329e7b4ea",
          To: emailContact.value,
          Bcc: "johmarkgabrentina@gmail.com",
          From: "hello@hijoey.co",
          Subject: `You'll be notified when ${ productTitle.textContent } is available`,
          Body: "" + htmlEmail
      }).then( doButton() );
    
    } catch (error) { 
      console.log(error);
    }
  }
    
  return false;
}
  
function doButton() {
  
  btnNotify.classList.toggle("hide-btn-notify");
  alertMsg.classList.toggle("show-alert");
  emailContact.disabled = true;
}

// Calculate delivery expected date
function setCalculate(numberOfDays) {

  var dateFormat = "MMMM DD, YYYY";

  var a = moment().format(dateFormat);
  var b = moment().add(numberOfDays, 'd').format(dateFormat);
  
  var targetDay = moment(b)
  for (var m = moment(a); m.isBefore(targetDay); m.add(1, 'days')) {
      
      if(checkIfWeekEnds(m) || checkIfHolidays(m)) {
        targetDay.add(1, 'd').format(dateFormat);
      } 
  }

return targetDay.subtract(1, 'd').format('MMMM DD');

}

function checkIfWeekEnds(day) {
    if (day.day() == 6 || day.day() == 0) {
        return true;
    }
}

function checkIfHolidays(day) {
    var holiday = day.format('YYYY-MM-DD');
    if(moment(day.format('YYYY-MM-DD')).isHoliday()) {
        return true;
    }
}

if (backordedProd != null) {
  backordedProd.innerHTML = setCalculate(15);
}

if(shipProd != null) {
  shipProd.innerHTML= setCalculate(5);
}
