<!-- /templates/page.liquid -->
<div class="">

        <div class="rte rte--nomargin rte--indented-images">
          {%comment%}{{ page.content }} {%endcomment%}
          
          {% section 'page-training' %}
          
          
          
          
          
          
          
        </div>
 
</div>
